<div class="switch-six">
	<div class="title-word page6-title-word">
		<span class="title-word-one white-sma-title-word">产品</span>
		<span class="title-word-two white-big-title-word"><b>要素</b></span>
		<p class="title-word-three">Product elements</p>
	</div>
	<table class="table-box">
		<tr>
			<th :class="{'animate-six': animate}">基金名称</th>
			<td>赤骥追风一号私募基金（产品备案编号：SK0347）</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">基金管理人</th>
			<td>北京神州赤骥基金管理有限公司（公司备案编号：P1017737）</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">基金类型</th>
			<td>主动管理型基金</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">基金托管人</th>
			<td>招商证券股份有限公司</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">运营外包服务商</th>
			<td>招商证券股份有限公司</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">证券经纪商</th>
			<td>招商证券股份有限公司</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">期货经纪商</th>
			<td>招商期货股份有限公司</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">存续期限</th>
			<td>永续</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">运作方式</th>
			<td>开放式</td>
		</tr>
	</table>
	<footer>
		<div class="foot-word black-foot-word">
			赤骥
		</div>
	</footer>
</div>