<div class="switch-eight">
	<div class="title-word page8-title-word">
		<span class="title-word-one white-sma-title-word">产品</span>
		<span class="title-word-two white-big-title-word"><b>要素</b></span>
		<p class="title-word-three">Product elements</p>
	</div>
	<p class="remark-word">
		备注
	</p>
	<ul class="remark-list p-word">
		<li>1.	本基金招募说明书为基金主合同的文本摘要，如有与基金主合同表述不一致之处，均以基金主合同为准。请您仔细阅读基金主合同文件，谨慎做出是否签署基金合同的决定。</li>
		<li>2.	本基金招募说明书未经基金管理人书面许可任何机构和个人不得以任何形式翻版、复制、刊登、发表、引用，或披露给任何第三方机构或个人。</li>
		<li>3.	本招募说明书中关于私募基金管理人和私募基金公示信息（含诚信信息）可于中国基金业协会（http://gs.amac.org.cn）查询。</li>
	</ul>
	<footer>
		<div class="foot-word black-foot-word">
			赤骥
		</div>
	</footer>
</div>