<div class="switch-four">
	<div class="title-word page4-title-word">
		<span class="title-word-one black-sma-title-word">基金</span>
		<span class="title-word-two black-big-title-word"><b>经理</b></span>
		<p class="title-word-three">Fund manager</p>
	</div>

	<div class="bossPhoto">
		<img src="img/boss.png" :class="{'animatePic': animate}">
	</div>

	<div class="bossName">
		<div class="boss" :class="{'animate-four': animate}"><b>吴永涛<span>投资总监</span></b></div>
	</div>
	<div class="bossMsg">
		<p class="company">北京神州赤骥基金管理有限公司</p>
		<p class="boss-p-one boss-p p-word">本基金的投资经理：吴永涛先生自北京大学国际经济系硕士毕业，拥有20年的国际金融从业经验，长期从事全球市场研究和实战操作，精于发掘重大趋势及投资机会，拥有丰富的经验和优秀业绩。</p>
		<p class="boss-p-two boss-p p-word">其2002年创办外汇通网站（www.forex.com.cn)，2015年创立神州赤骥基金管理有限公司并担任公司投资总监，喜好中国古代哲学，尤以《道德经》为甚，以哲学思维建立金融投资决策系统，以系统思想从事日常金融投资工作，始终致力于为投资人实现财富的保值、增值；在2007年次贷危机等一系列重大金融动荡中，通过准确的市场判断，为投资人获得丰厚的回报。</p>
	</div>

	<footer>
		<div class="foot-word white-foot-word">
			赤骥
		</div>
	</footer>
</div>