<div class="switch-seven">
	<div class="title-word page7-title-word page6-title-word">
		<span class="title-word-one white-sma-title-word">产品</span>
		<span class="title-word-two white-big-title-word"><b>要素</b></span>
		<p class="title-word-three">Product elements</p>
	</div>
	<table class="table-box">
		<tr>
			<th :class="{'animate-six': animate}">基金开放日</th>
			<td>每个自然季度的最后一个工作日</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">认购金额</th>
			<td>首次100万元及以上，追加每次为10万元的整数倍。</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">认购费率</th>
			<td>1 %（额外缴纳）</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">管理费</th>
			<td>2%</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">托管费</th>
			<td>0.1%</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">运营外包服务费</th>
			<td>0.1%</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">赎回费率</th>
			<td>0.5%</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">预警和止损</th>
			<td>预警线：0.75；止损线：0.70</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">风险收益特征</th>
			<td>具有中高风险、中高收益特征。</td>
		</tr>
	</table>
	<footer>
		<div class="foot-word black-foot-word">
			赤骥
		</div>
	</footer>
</div>