@charset "UTF-8";
@import 'helpers/helpers';
.switch-seven{
   width:100%;
   height:100%;
   overflow:hidden;
   background-image: url("../public.img/bgimg-six.png");
   background-repeat: no-repeat;
   background-size: 10.8rem 100%;;
}
