<div class="switch-sevenplus">
	<div class="title-word page7plus-title-word page6-title-word">
		<span class="title-word-one white-sma-title-word">产品</span>
		<span class="title-word-two white-big-title-word"><b>要素</b></span>
		<p class="title-word-three">Product elements</p>
	</div>
	<table class="table-box">
		<tr>
			<th :class="{'animate-six': animate}">封闭期</th>
			<td>自基金成立之日起6个月</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">净值披露频率</th>
			<td>每月披露一次</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">业绩报酬</th>
			<td>业绩报酬的计算采取“基金高水位法”，即基金份额累计净值在每个业绩报酬计提日创造新高时，提取超过历史业绩报酬计提日基金份额累计净值最高值部分的20%作为业绩报酬，并从基金资产中扣除。</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">收益分配</th>
			<td>基金在分红日、赎回日、清算日进行收益分配。</td>
		</tr>
		<tr>
			<th :class="{'animate-six': animate}">托管银行</th>
			<td>招商银行股份有限公司深圳深纺大厦支行</td>
		</tr>
	</table>
	<footer>
		<div class="foot-word black-foot-word">
			赤骥
		</div>
	</footer>
</div>