<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>外汇通综合管理后台-CA系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/home.css">

    <!-- @include /pub/baseRoot -->
    <script type="text/javascript">
        window.PAGE_DATA = window.PAGE_DATA || {};
        window.PAGE_DATA.baseRoot = 'http://192.168.9.53:38001';
    </script>
    <!-- @end -->

    <script src="/assets/common.js"></script>
	
	<!-- @include /pub/userInfo -->
	<script type="text/javascript">
		window.PAGE_DATA = window.PAGE_DATA || {};
		window.PAGE_DATA.userInfo = {
            loginName:'hexiaodong',                   // 登录名(账号)
            userName:'贺小东贺小东贺小东',                        // 用户名
            role:'超级管理员',                        // 角色
            sex:'1',                                  // 性别： 1 男 2 女
            headImg:'1.jpg',                          // 头像
            signature:'这个人很留下，什么都没懒！',   // 个性签名
            department:'技术部',                      // 部门
            registerTime:'2017-03-15 15:15:15',       // 注册时间
            state:'1',                                // 状态：1 已启用 2 未启用
		}
	</script>
	<!-- @end -->

</head>

<body>
    <div id="homeBox"></div>
    

    <script src="/assets/home.js"></script>
</body>

</html>
