<div class="switch-five">
	<div class="switchbox">
		<div class="title-word page5-title-word">
			<span class="title-word-one black-sma-title-word">投资</span>
			<span class="title-word-two black-big-title-word"><b>策略</b></span>
			<p class="title-word-three">Investment strategy</p>
		</div>
		<div class="h-box h-box-one"><h3 class="page5-h-word-one page5-h-word h-word" :class='{"animate-five":animate}'>投资理念</h3></div>
		<p class="page5-p-word-one page5-p-word p-word">趋势跟踪为核心，波段操作平滑资金曲线。</p>
		<div class="h-box h-box-two"><h3 class="page5-h-word-two page5-h-word h-word" :class='{"animate-five":animate}'>交易策略</h3></div>
		<p class="page5-p-word-two page5-p-word  p-word">1.多品种，多策略，多周期程序化组合，对冲风险，过滤震荡，把握趋势。</p>
		<p class="page5-p-word-two page5-p-word  p-word">2.通过系统识别市场所处的阶段，针对不同的阶段启动不同的策略。</p>
		<div class="h-box h-box-three"><h3 class="page5-h-word-three page5-h-word h-word" :class='{"animate-five":animate}'>操作方法</h3></div>
		<p class="page5-p-word-three page5-p-word p-word">多模型、多品种、多周期的大组合，通过完整的风控管理体系以及资金管理体系，控制最大风险的同时最大化投资收益，保持整体账户的稳定增长。</p>
		<div class="h-box h-box-four"><h3 class="page5-h-word-four page5-h-word h-word" :class='{"animate-five":animate}'>投资限制</h3></div>
		<p class="page5-p-word-four page5-p-word p-word">本基金投资组合遵循相关法律法规或监管部门对于投资比例限制的规定。</p>
		<footer>
			<div class="foot-word white-foot-word">
				赤骥
			</div>
		</footer>
	</div>
</div>