<div class="switch-three">
	<div class="title-word page3-title-word">
		<span class="title-word-one black-sma-title-word">投资</span>
		<span class="title-word-two black-big-title-word"><b>管理</b></span>
		<p class="title-word-three">Asset management</p>
	</div>
	<div class="h3-box">
		<h3 class="page3-h-word-one page3-h-word h-word" :class="{'animate-three': animate}">基金管理人</h3>
		<h3 class="page3-h-word-two page3-h-word h-word" :class="{'animate-three': animate}">神州赤骥基金管理有限公司</h3>
	</div>
	<div class="page3-p-box">
		<p class="page3-p-word-one page3-p-word  p-word">神州赤骥基金管理有限公司成立于2015年5月，现已完成监管备案手续，备案登记编号：P1017737。</p>
		<p class="page3-p-word-two page3-p-word p-word">神州赤骥专注于全球金融市场的投资和研究，对宏观经济有深刻的认识并形成了一套成熟的交易体系。以研究为基础，以基本面为根本，以绝对收益为目标，以中长线投资为主，波段操作为辅，手工交易及程序化交易互为补充，把握宏观趋势，基于宏观、行业、政策的深入研究，广泛求证，动态配置投资重点，在力求风险可控前提下，追求稳健持续投资回报。</p>
	</div>
	<footer>
		<div class="foot-word white-foot-word">
			赤骥
		</div>
	</footer>
</div>