<div class="switch-one">
	<div class="switchbox">
		<div class="title-word page1-title-word">
			<span class="title-word-one white-sma-title-word">基金</span>
			<span class="title-word-two white-big-title-word"><b>概要</b></span>
			<p class="title-word-three">Outline of the fund</p>
		</div>
		<h3 class="page1-h-word-one  h-word" :class="{'animate-oneplus': animate}">基金管理人</h3>
		<p class="page1-p-word-one page1-p-word p-word">北京神州赤骥基金管理有限公司</p>
		<h3 class="page1-h-word-two page1-h-word h-word" :class="{'animate-one': animate}">投资目标</h3>
		<p class="page1-p-word-two page1-p-word  p-word">赤骥追风一号私募基金，利用程序化交易多品种多策略多周期对冲的优点，广泛筛选市场机会，利用概率优势获取跨市场投资机会，使投资人资产得到稳健增值。</p>
		<h3 class="page1-h-word-three page1-h-word h-word" :class="{'animate-one': animate}">投资范围</h3>
		<p class="page1-p-word-three page1-p-word p-word">本基金的投资范围包括沪深交易所上市交易的股票、期货、债券、优先股、证券回购、存款、公开募集证券投资基金、期权、权证、资产支持证券、收益互换、信托计划、私募投资基金、银行理财产品等。</p><p class="page1-p-word-three page1-p-word p-word">本基金可以参与融资融券交易、港股通交易、新股申购，也可以将其持有的证券作为融券标的出借给证券金融公司。</p>
		<footer>
			<div class="foot-word white-foot-word">
				赤骥
			</div>
		</footer>
	</div>
</div>