@charset "UTF-8";
@import 'helpers/helpers';

.switch-two{
    width:100%;
    height:100%;
    overflow:hidden;
    background-image:url('img/bgimg-two.png');
    background-repeat: no-repeat;
    background-size:10.8rem 8rem;
    background-position:bottom;
}
.page2-h-word{
    margin-top:1.2rem;
    text-align:center;
    opacity: 0;
    &.animate-two{
        animation-name: animate-two;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        opacity: 1;
    }
}
.page2-h-word-two{
    margin-top:1rem;
}

.page2-title-word{
    margin-top:2.6rem;
}

@media screen and (max-height:480px){
    .switch-two{
        background-position:0 8.8rem;
    }
    .p-word{
        font-size:0.32rem;
        margin-left:0.2rem;
        margin-right:0.2rem;
        line-height:0.52rem;
        color:#4c4c4c;
    }
    .page2-title-word{
        margin-top:1.5rem;  
    }
    .page2-h-word{
        margin-top:0.8rem;
    }
    .page2-h-word-one{
        margin-top:1.6rem;
    }
    footer{
        width:100%;
        height:1rem;
        animation-name: animate-foot-i4;
    }
    .foot-word{
        width:1rem;
        height:1rem;
        line-height:1rem;
        font-size:0.42rem;
    }

}