<div class="switch-twoplus">
	<h3 class="page2plus-h-word-one page2plus-h-word h-word" :class="{'animate-two': animate}">多策略组合，追求最大的投资收益</h3>
	<p class="page2plus-p-word-one page2plus-p-word p-word">&nbsp;基金投资于金融期货与商品期货，并灵活配置股票、债券等金融品种。在保证投资的多样性的同时，采用多策略组合的投资形式，针对不同市场行情的不同阶段，启动相应的交易策略，在不断变化的市场中，控制投资的最大风险，追求最大的投资收益。</p>
	<h3 class="page2plus-h-word-two page2plus-h-word h-word" :class="{'animate-two': animate}">风控体系成熟，严格控仓</h3>
	<p class="page2plus-p-word-two page2plus-p-word  p-word">&nbsp;基金采用完善、成熟的风险控制系统，以风险控制策略确定投资基金的仓位大小。风控指标根据市场的变化趋势进行实时调整，通过对指标的日常监测，锁定短周期的相对盈利性，进而实现长期的阿尔法相对价值。</p>
	<div class="title-word page2plus-title-word">
		<span class="title-word-one white-sma-title-word">基金</span>
		<span class="title-word-two white-big-title-word"><b>特色</b></span>
		<p class="title-word-three">Funds characteristics</p>
	</div>
	<footer>
		<div class="foot-word black-foot-word">
			赤骥
		</div>
	</footer>
</div>