<div class="switch-two">
	<h3 class="page2-h-word-one page2-h-word h-word" :class="{'animate-two': animate}">投资团队风格稳健，经验丰富</h3>
	<p class="page2-p-word-one page2-p-word p-word">投资团队专注于全球金融市场的投资与研究，对宏观经济有深刻的认识并形成一套成熟的交易体系，能够系统性地把握市场规律，明辨交易机会的内在逻辑。采取中长线操作手法，着眼于重大投资机会，以严格的风险控制，科学的资金管理，谨慎的机会选择，定量与定性相结合，主动管理、稳中求进。</p>
	<h3 class="page2-h-word-two page2-h-word h-word" :class="{'animate-two': animate}">程序化与人工结合，对冲市场风险</h3>
	<p class="page2-p-word-two page2-p-word  p-word">采用程序化与人工结合的方式，采取多品种、多策略、多周期对冲，广泛筛选市场机会，利用概率优势获取跨市场投资机会，使投资人资产得到稳定增值。</p>
	<div class="title-word page2-title-word">
		<span class="title-word-one white-sma-title-word">基金</span>
		<span class="title-word-two white-big-title-word"><b>特色</b></span>
		<p class="title-word-three">Funds characteristics</p>
	</div>
	<footer>
		<div class="foot-word black-foot-word">
			赤骥
		</div>
	</footer>
</div>