<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>外汇通综合管理后台-CA系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/login.css">

    <!-- @include /pub/baseRoot -->
    <script type="text/javascript">
        window.PAGE_DATA = window.PAGE_DATA || {};
        window.PAGE_DATA.baseRoot = 'http://192.168.9.53:38001';
    </script>
    <!-- @end -->

    <script src="/assets/common.js"></script>
	
	<!-- @include /pub/userInfo -->
	<script type="text/javascript">
		window.PAGE_DATA = window.PAGE_DATA || {};
		window.PAGE_DATA.userInfo = {

		}
	</script>
	<!-- @end -->

</head>

<body>
    <div id="page"></div>

    <script data-name="questionList">
    
    </script>

    <script src="/assets/login.js"></script>
</body>

</html>
